* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 

.base {
	background-color: white; 
	color: white;
	border-radius: 25px;
	font-style: arial;
	max-width: 800px;
}
.headings1 {
	font-weight: bolder;
	padding: 10px;
	font-size: 30px;
	background-color: grey;
	border-radius: 25px;
}
.subs {
	font-weight: bolder;
	background-color: #CD5B45;
	padding: 10px;
	font-size: 20px;
	border-radius: 25px;
	padding-bottom: 10px;
}
.body {
	background-color: #8B3E2F;
	font-size: 16px;
	border-radius: 15px;
	font-weight: normal;
}
.body2 {
	background-color: #8B3E2F;
	font-size: 16px;
	border-radius: 15px;
	font-weight: normal;
	display: flex;
	max-width: 800px;
}
.image {
	max-width: 360px;
	min-width: 350px;
	padding-left: 7.5px;

}
